.link-go-back-to-Home {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-go-back-to-Home a {
    color: #fbfbff;
    text-decoration: none;
}

.link-go-back-to-Home a:hover {
    text-decoration: line-through;
}